<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/common-styles.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/navbar-additions.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/filter-bar.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/box-styles.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/flip.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/table-styles.css"/>
<link rel="stylesheet" type="text/css" href="public/stylesheets/custom/spinner.css"/>
<link rel="stylesheet" type="text/css" href="public/fonts/icomoon-styles.css"/>